<div class="contents">
  <div class="New">
    <div class="NewCardTitle">
      <%= @user.nickname %>さんが読んだ本
    </div>
    <div class="heading">
      <div class="heading__table">
        <div class= "heading__table__ids">
          ID
        </div>
      </div>
      <div class="heading__text">
        <div class= "heading__text__titols">
          <div class= "heading__text__titols__taitoru">
            タイトル
          </div>
        </div>
        <div class="heading__text__write">
          <div class="heading__text__write__tyosya">
            著者
          </div>
        </div>
      </div>
    </div>

    <% @cards.each do |card| %>
      <div class="content">
        <div class="content__left">
          <div class="content__left--id">
            <%= card.id %>
          </div>
        </div>
        <div class="content__right">
          <div class= "content__right__box">
            <div class="content__right__box__top">
              <%= link_to card.title, card_path(card.id), id: "content__right__top__titles" %>
            </div>
            <div class="content__right__box__bottom">
              <div class="content__right__box__bottom--author">
                <%= card.author %>
              </div>
            </div>
          </div>
          <div class= "content__right__edit">
            <div class= "content__right__edit__new">
              <%= link_to "編集", edit_card_path(card.id), id: "edit-pass"%>
            </div>
            <div class= "content__right__edit__destroy">
              <%= link_to "削除", card_path(card.id), method: :delete, id: "destroy-pass" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>